@import "tailwindcss";

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    /*}
:root {*/
    --color-primary: var(--color-orange-500);
    --color-secondary: var(--color-gray-500);
    --color-dark: var(--color-gray-800);
    --color-light: var(--color-gray-200);
    --color-highlight: var(--color-primary);
    --color-muted: var(--color-gray-500);

    --color-success: var(--color-green-500);
    --color-error: var(--color-red-500);
    --color-danger: var(--color-red-500);
    --color-info: var(--color-blue-500);
    --color-warning: var(--color-yellow-500);

    --color-link: var(--color-dark);

    --color-confirmed: #10cc81;
    --color-new: #0099cc;
    --color-request: #f59e0bc0;
    --color-inquiry: #f59e0b80;
    --color-cancelled: #88888840;
    --color-vanished: #88888840;
    --color-blocked: #00000080;
    --color-unavailable: #88888880;
    --color-unknown: var(--color-light);
}
