@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans:
        "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
}

nav.nav-main {
    @apply bg-white shadow-sm border-b border-gray-200;
}
main > .main-content {
    @apply max-w-4xl mx-auto;
}
main > .main-content > .wrapper {
    @apply bg-white rounded-lg shadow-sm p-8;
}
