/**
 * Flatpickr Custom Styling
 *
 * Tailwind-inspired theme for Flatpickr date picker
 */

@import "tailwindcss";
@import "./_theme.css";

.date-range {
    input,
    .flatpickr-input {
        /*@apply w-30;*/
    }
}
