@import "tailwindcss";
@import "./_theme.css";

table.data-list {
    @apply w-full border-collapse;

    thead {
        @apply bg-light;

        th {
            @apply px-4 py-3 text-left text-sm font-semibold text-dark border-b-2 border-light;
        }
    }

    tbody {
        tr {
            @apply border-b border-light;

            &:hover {
                @apply bg-gray-50;
            }

            td {
                @apply px-4 py-3 text-sm text-dark;

                .na {
                    @apply text-secondary;
                }

                &.actions {
                    @apply text-right space-x-2;
                }

                &.col-notes,
                &.col-comments {
                    @apply relative;
                    /* Max 20rem, 1 line, overflow-y auto */
                    @apply max-w-2xs text-xs truncate;
                }
            }
        }
    }

    th,
    td {
        &.col-actions {
            @apply w-fit;
            > * {
                @apply inline-block;
            }

            svg {
                @apply inline w-4 h-4;
            }
        }
    }
}

.list-controls {
    > form {
        @apply flex flex-row w-full gap-4 justify-between m-0;

        > * {
            @apply inline-flex w-fit items-center m-0;
        }

        fields-row {
            @apply flex flex-row justify-around w-full;

            > label {
                @apply text-center;
            }
            > .items {
                @apply flex flex-row items-center gap-2;
            }
        }
        .input-group.paginator {
            @apply my-auto text-center;

            > label {
                @apply text-center;
            }
            > .items {
                @apply flex flex-row items-center gap-2;
            }
        }

        fieldset.disabled,
        a[type="disabled"] {
            @apply cursor-not-allowed opacity-50;
        }

        .form-actions,
        .form-actions > * {
            @apply self-end;
        }
    }
}
