@import "tailwindcss";
@import "./_theme.css";

.rate-widget {
    container-type: inline-size;
    @apply space-y-6;

    > form {
        @apply mx-auto my-0 flex justify-center flex-wrap items-baseline-last gap-8;

        > * {
            @apply h-fit w-fit my-0;
        }
    }
}
